/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

#buscar{
  font-size: 50px;
}

/*#place_data, #show_back, #back, #list_places, li, input {
  font-size: 50px;
}*/

/* Pantallas ocultas*/

#test_image, 
#show_image, 
#updates, 
#new_point,
#edit_point{
  display: none;
}

/* Header */
#header-container {
  display:block;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #0078d4;
  color: white;
}

#header-options {
  display: flex;
}

.header-option {
  background-color: #0078d4;
  width: 50%;
  color: white;
  text-align: center;
  padding: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 35px; 
  cursor: pointer;
}

.header-option:hover {
  background-color: #084e83;
}

h1 {
  background-color: #0078d4;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 20px;
  text-align: center;
}


/* Imagen y contenedores de imagen */
#container_image, 
#container_show_image, 
#container_new_image, 
#container_edit_image {
    position: relative;
    width: 100%; 
    height: auto;
    border: 1px solid black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#point, 
#show_point, 
#new_point_map,
#edit_point_map {
    position: absolute;
    width: 3%;
    height: 3%;
    background-color: red;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
}

/* Listados */

#list_places, #updates{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.scroll-container{
    flex: 1;
    overflow-y: auto;
    max-height: 60vh;
}
  
  input[type="text"] {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type:none;
    padding: 0px;
    margin-top: 0px;
  }

  #list_places li,  #updates li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  #updates li {
    cursor: default;
    font-size: 30px;
  }
  
  #list_places li:hover {
    background-color: #ddd;
    color: #2600ff;
    font-weight: bold;
  }

  /*  SHOW IMAGE */

  #place_data, 
  #updates_title, 
  #new_point_text,
  #edit_point_text {
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }

  #show_image {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
  }
  
  #show_back, 
  #edit_point_proposal{
    display: block;
    text-align: center;
    background-color: #0078d4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #show_back:hover, 
  #edit_point_proposal:hover {
    background-color: #00539f;
  }
  
  #container_show_image {
    text-align: center;
  }
  
  #container_show_image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #show_point {
    text-align: center;
  }

  /* MAPA PARA TEST */

  #test_image, 
  #new_point,
  #edit_point {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
  }
  
  #back, 
  #updates_back, 
  #new_point_back, 
  #edit_point_back {
    display: block;
    text-align: center;
    background-color: #0078d4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  #back:hover, 
  #updates_back:hover, 
  #new_point_back:hover,
  #edit_point_back:hover {
    background-color: #00539f;
  }
  
  #container_image, 
  #container_new_image, 
  #container_edit_image {
    text-align: center;
  }
  
  #container_image img, 
  #container_new_image img, 
  #container_edit_image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #coordinates {
    text-align: center;
  }

  /* Nuevo punto */

#text_input, #edit_text_input {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

label {
  display: block;
  font-size: 20%;
  margin-top: 10px;
  margin-bottom: 2px;
  color: red;
}

textarea, 
#lugar, 
#edificio, 
#planta, 
#observaciones,
#edificio_text,
#planta_text,
#edit_lugar, 
#edit_edificio, 
#edit_planta, 
#edit_observaciones {
  width: 97%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 50px;
}

button#send_new_point, button#send_edit_point {
  display: block;
  text-align: center;
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 50px;
}

button#send_new_point:hover, button#send_edit_point:hover {
  background-color: #00539f;
}

button#send_new_point, button#send_edit_point {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}