*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#main_title{
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    color:darkslategray;
    border-bottom: 1px solid grey;
    box-shadow: 0px -2px 6px grey;
}

#num_verbs{
    display: block;
    margin: 0px auto;
}

.secondary_titles{
    margin: 15px;
    margin-top: 70px;
    margin-left: 30px;
}

.fields{
    display: block;    
    width: 80%;
    margin: 0px auto;
}

.inner_fields{
    padding: 15px;
}

.legends{
    font-weight: bold;
    font-style: italic;
}

.box_field{
    display: block;
    width: 80%;
    margin: 0px auto;
}

.input_label{
    display: inline-block;
    font-size: 20px;
    height: 30px;
    width: 200px;
    font-weight: bold;    
    line-height: -10px;
    margin-right: 20px;
    margin-left: 20px;
}
.input_field{
    display: inline;    
    font-size: 20px;
    height: 30px;
    font-weight: bold;    
}

#traslation{
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 20px;
    transition: all 300px;
    cursor: pointer;
}

#traslation:hover{
   color:darkred;
}

.buttons{
    display: block;
    margin: 0px auto; 
    width: 80px;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;   
    background-color: rgb(39, 134, 44);
    box-shadow: 4px 2px 2px grey;
    font-weight: bold;
    font-size: 20px;
    line-height: -20px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}

.buttons:hover{
    transform: scale(1.1,1.1);
    background-color: limegreen;
}

#restart_button{
    margin-bottom: 40px;
}

#results{
    margin-left: 200px;   
    margin-bottom: 100px; 
}

#footer{
    position:fixed;
    width: 100%;
    bottom:0;
    padding: 5px;
    background-color: white;
    border-top: 1px solid grey;
    box-shadow: 0px 2px 6px grey;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

/* MEDIA QUERIES */
@media screen and (max-width:767px){
    #main_title{
        font-size: 23px;
    }
    .input_label{
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:5px;
    }
    .input_field{
        width: 95%;
    }
    #results{
        margin-left: 30px;
    }
}

