/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

#buscar{
  font-size: 50px;
  padding: 10px;
  width: 98.3%;
}

#global-container {
  height: 100vh;
}

.scroll-container{
  flex: 1;
  overflow-y: auto;
  height: 90vh;
}

#child-container{
  height: 80vh;
}

/* HEADER CON OPTIONS BUTTON */
#header-container {
  display:flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #0078d4;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#options-button {
  margin-top: 20px;
  padding: 25px;
  height: 60px;
  width: 10%;
  cursor: pointer;
  object-fit:contain;
}

#options-button:hover {
  background-color: #084e83;
}

#header-title {
  display: flex;
  align-items: center;
}

#header-options {
  display: none;
  transition: display 0.6s;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #0078d4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.header-option {
  background-color: #0078d4;
  color: white;
  text-align: center;
  font-size: 35px; 
  cursor: pointer;
  flex: 1;
  align-items: center;
  padding: 50px;
}

.header-option:hover {
  background-color: #084e83;
}

/* Pantallas ocultas*/
#test_image, 
#show_image, 
#updates, 
#new_point,
#edit_point,
#container-contact-form{
  display: none;
}

h1 {
  background-color: #0078d4;
  width: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 35px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
  height: 50%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* OTROS */

a{
  text-decoration: none;
  color: white;
}

.link{
  text-decoration:underline;
  color: #160d4d;
}

/* Imagen y contenedores de imagen */
#container_image, 
#container_show_image, 
#container_new_image, 
#container_edit_image {
    position: relative;
    width: 100%; 
    height: auto;
    border: 1px solid black;
}



#point, 
#show_point, 
#new_point_map,
#edit_point_map {
    position: absolute;
    width: 3%;
    height: 3%;
    background-color: red;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 50%;
    font-weight: bold;
    color: white;
}

/* Listados */
#list_places, #updates{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type:none;
  padding: 0px;
  margin-top: 0px;
}

#list_places li,  #updates li {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}

#updates li {
  cursor: default;
  font-size: 30px;
}

#list_places li:hover {
  background-color: #c0c0c0;
  color: #160d4d;
}

/*  SHOW IMAGE */
#place_data, 
#updates_title, 
#new_point_text,
#edit_point_text,
#contact_point_text {
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

#show_image {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 100%;
}

#show_back, 
#edit_point_proposal,
#contact_point_back{
  display: block;
  text-align: center;
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#show_back:hover, 
#edit_point_proposal:hover {
  background-color: #00539f;
}

#container_show_image {
  text-align: center;
}

#container_show_image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#show_point {
  text-align: center;
  color:black;
}

/* MAPA PARA TEST */

#test_image, 
#new_point,
#edit_point,
#container-contact-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 100%;
}

#back, 
#updates_back, 
#new_point_back, 
#edit_point_back
#contact_point_back {
  display: block;
  text-align: center;
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
}

#back:hover, 
#updates_back:hover, 
#new_point_back:hover,
#edit_point_back:hover,
#contact_point_back:hover {
  background-color: #00539f;
}

#container_image, 
#container_new_image, 
#container_edit_image {
  text-align: center;
}

#container_image img, 
#container_new_image img, 
#container_edit_image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#coordinates {
  text-align: center;
}

/* Nuevo punto */

#text_input, 
#edit_text_input,
#form_input {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

label {
  display: block;
  font-size: 25%;
  margin-top: 10px;
  margin-bottom: 2px;
  color: red;
}

textarea, 
#lugar, 
#edificio, 
#planta, 
#observaciones,
#edificio_text,
#planta_text,
#edit_lugar, 
#edit_edificio, 
#edit_planta, 
#edit_observaciones,
#form-name,
#form-mail,
#form-title,
#form-text {
  width: 97%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 50px;  
}

textarea:focus, 
#lugar:focus, 
#edificio:focus, 
#planta:focus, 
#observaciones:focus,
#edificio_text:focus,
#planta_text:focus,
#edit_lugar:focus, 
#edit_edificio:focus, 
#edit_planta:focus, 
#edit_observaciones:focus {
  background-color:rgb(246, 247, 237);
  box-shadow: 8px 8px 15px rgb(0, 0, 0);
}

button#send_new_point, 
button#send_edit_point,
button#button-send-contact-form{
  display: block;
  text-align: center;
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 90px;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

button#send_new_point:hover, 
button#send_edit_point:hover,
button#button-send-contact-form:hover {
  background-color: #00539f;
}

#updates_title, 
#new_point_text, 
#edit_point_text,
#contact_point_text{
  font-weight: bold;
}

/* Estilos CSS para el cuadro de diálogo personalizado */
#custom-alert {
  display: none;
  position: fixed;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 800px;
  width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#button_alert{
  display: block;
  margin: 0 auto; 
  margin-top: 10px; 
  padding: 10px 20px;
  background-color: #3f96cf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5em;
}

/* Fondo semitransparente cuando la alerta está activa */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}