#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color: white;    
    width: 250px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(0, 56, 0);
    transition:all 500ms;
}

#boton:hover{
    border-radius: 20px;
    background-color: orangered;    
    border: 5px solid red;
}

#caja{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: lightseagreen;
    border: 5px solid black;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes desplazamiento{
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 600px;
        transform: rotate(360deg);
        border-radius: 50%;
        
    }
    75%{
        background-color: red;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}